


@import 'reset';

@font-face {
	font-family: "Founders-Regular";
	src: url("../fonts/FoundersGrotesk-Regular.eot") format("eot"),
		 url("../fonts/FoundersGrotesk-Regular.woff") format("woff"),
		 url("../fonts/FoundersGrotesk-Regular.woff2") format("woff2"),

}

@font-face {
	font-family: "Founders-Regular-Italic";
	src: url("../fonts/FoundersGrotesk-RegularItalic.eot") format("eot"),
		 url("../fonts/FoundersGrotesk-RegularItalic.woff") format("woff"),
		 url("../fonts/FoundersGrotesk-RegularItalic.woff2") format("woff2"),
}

@font-face {
	font-family: "TiemposTex-Regular";
	src: url("../fonts/TiemposText-Regular.eot") format("eot"),
		 url("../fonts/TiemposText-Regular.woff") format("woff"),
		 url("../fonts/TiemposText-Regular.woff2") format("woff2"),
}

@font-face {
	font-family: "TiemposTex-RegularItalic";
	src: url("../fonts/TiemposText-RegularItalic.eot") format("eot"),
		 url("../fonts/TiemposText-RegularItalic.woff") format("woff"),
		 url("../fonts/TiemposText-RegularItalic.woff2") format("woff2"),

}






* {
	box-sizing: border-box;
}

body {
	background: #eeebe0;
}



.hero-content {
	width: 100%;
	max-width: 1200px;
	margin: auto;

	img {
		display: block;
		width: 40%;
		margin: 50px auto;
	}

	p {
		width: 100%;
		margin: auto;
		text-align: center;
		padding: 0px 30px 40px 30px;
		color: #6C5E4B;
		line-height: 1.5;
		font-size: 1.2em;
		font-family: "TiemposTex-Regular";
	}
}



.carousel-item {
	max-height: 900px;
}

.carousel-indicators li {
	border-radius: 50%;
	height: 12px;
	width: 12px;
}

.boxes-wrap {
	width: 100%;
	background-image: url("../img/OAK-bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain; 
	font-family: "Founders-Regular";
	margin-top: 50px;



	.col-1-boxes {
		width: 100%;
		margin: auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		transition: .3;

	
		.box-1-col-1, .box-2-col-1, .box-3-col-1, .box-4-col-1, .box-5-col-1, .box-6-col-1 {
			width: 125px;
			height: 110px;
			margin: 10px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background: rgba(101, 88, 68, .8);

	
			p {
				// padding: 30px 15px 0px 15px;
				text-align: center;
				font-size: 1.1em;
				margin-top: 0px;
				color: white;
			}

			// .bottom-text {
			// 	padding-top: 5px;
			// }

			.three-text {
				font-size: 1.3em;
			}

			.twenty-text {
				font-size: 1.7em ;
			}

			.sf-text {
				font-size: .8em;
			}

			.padding-text {
				font-size: 1.3em;
			}
		}
	
	}
	
	.col-2-boxes {	
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		flex-grow: 1;
		margin: auto;
		transition: .3;

	
		.box-1-col-2, .box-2-col-2, .box-3-col-2, .box-4-col-2, .box-5-col-2, .box-6-col-2 {
			width: 125px;
			height: 110px;
			margin: 10px;
			background: rgba(101, 88, 68, .8);
			display: flex;
			flex-direction: column;
			justify-content: center;

			p {
				// padding: 20px 15px 0px 15px;
				text-align: center;
				font-size: 1.1em;
				color: white;
			}

			.twelve-text {
				font-size: 1.5em;
			}

			.eight-text {
				font-size: 1.5em;
			}

			// .bottom-text-bars {
			// 	width: 100%;
			// 	margin: 0px auto;
			// 	font-size: 1em;
			// 	padding-top: 5px;
			// }

			// .bottom-text-movies {
			// 	width: 100%;
			// 	margin: 0px auto;
			// 	padding: 10px;
			// 	font-size: 1em;
			// 	padding-top: 5px;
			// }

			// .chef-text {
			// 	margin: auto;
			// 	padding: 20px;
			// 	margin-top: 15px;
			// }


			.sf-text {
				font-size: .8em;
			}

			.padding-text {
				font-size: 1.3em;
			}

			// .spacing {
			// 	padding-top: 30px !important;
			// }

			// .community-text {
			// 	margin: auto;
			// 	padding: 15px 5px;
			// 	margin-top: 15px;
			// 	font-size: 1em;
			// }

			// .hotel-text {
			// 	margin: auto;
			// 	padding: 15px 5px;
			// 	margin-top: 15px;
			// }

			// .bottom-text-retail {
			// 	width: 100%;
			// 	margin: 0px auto;
			// 	padding: 10px;
			// 	font-size: 1em;
			// 	padding-top: 5px;
			// }
	
		}
	
	}


}


.video-sizing {
	max-width: 900px;
	margin: auto;

	.video-container {
		width: 100%;
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px; 
		height: 0; 
		overflow: hidden;
		margin: 30px auto 0px auto;
		
			iframe, object, embed {
			position: absolute;
			top: 0%;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

}

.location-map {
	width: 100%;
	margin-top: 100px;

	.padding-location {
		margin-top: 10px;
		background: rgba(101, 88, 68, 1);

		h1 {
			text-align: center;
			color: #fff;
			font-size: 1.1em;
			padding: 20px;
			font-family: "TiemposTex-Regular";

		}
	}

	.map-wrapper {
		height: 450px;
		width: 100%;

	
		#map {
			height: 100%;
		}
	}
	
}

.contact-info {
	width: 100%;
	background: rgba(101, 88, 68, 1);

	.contact-wrap {
		width: 80%;
		margin: auto;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	
		.contact-1, .contact-2, .contact-3, .contact-4 , h2{
			margin: 20px auto;
		}

		.office-contact, .retail-contact {
			width: 100%;
			padding: 30px;
			text-align: left;
			transition: .4s;
		}

		h2 {
			font-family: "TiemposTex-Regular";
			color: #fff;
			font-size: 1.1em;
		}

		.contact-name {
			font-weight: 900;
			font-family: sans-serif;

		}

		p , a{
			font-family: sans-serif;
			margin: 5px 0px;
			color: rgba(white, .9);
			font-size: .9em;

		} 

	}
}

#mc_embed_signup div.mce_inline_error {
	background-color: #6C5E4B !important;
	font-family: "TiemposTex-Regular";
}

#mc_embed_signup input.mce_inline_error {
	border-color: #6C5E4B !important;
}

.input-form  {
	width: 100%;
	max-width: 900px;
	margin: auto;
	padding: 50px;


	h2 {
		text-align: left;
		margin: 20px 0px;
		font-family: "TiemposTex-Regular";
		color: #6C5E4B;
		font-size: 1.4em;
	}



	.input-wrap {
		width: 100%;
		margin: 20px auto;


		label {
		font-family: "Founders-Regular";
		text-align: left;
		display: block;
		padding: 2px 0px;
		color: #6C5E4B;
		font-size: 1.3em;
		}
		
		input {
			width: 100%;
			margin: 10px 0px;
			outline: none;
			padding: 10px;
			border-color: #6C5E4B;
		}

		.button-submit {
			margin-top: 25px;
			width: 40%;
			margin-left: auto;
			text-align: center;
			float: right;
			font-size: 1.3em;
			cursor: pointer;
			background: #ada289;
			border-color: rgba(101, 88, 68, 1);  
			color: white;
			font-family: "Founders-Regular";
		}
	}
}

.social-icons {
	width: 100%;
	text-align: center;
	padding: 10px;
	margin-bottom: 20px;
	clear: both;
	margin-top: 40px;
	font-size: 1.2em;

	.fb-icon, .insta-icon, .twitter-icon {
		display: inline-block;
		width: 5%;
		margin: 0px 5px;
	}

	h1 {
		margin-right: 5px;
		vertical-align: middle;
		display: inline-block;
		color: rgba(101, 88, 68, 1);
		font-family: "TiemposTex-Regular";
	}

	p {
		margin-left: 5px;
		display: inline-block;
		color: rgba(101, 88, 68, 1);
		font-family: "TiemposTex-Regular";
	}
}

.footer-wrap {
	background: rgba(101, 88, 68, 1);
	padding: 10px;
	width: 100%;

	img {
		width: 30%;
		padding: 15px;
		margin-right: auto;
		// float: left;
	}

	nav {
		padding: 10px;
		font-size: .7em;
		font-family: "TiemposTex-Regular";
		display: inline-block;
		float: right;

		ul {
			color: #fff;

		}

		a {
			color: white;
		}
	}
}

@media only screen and (min-width : 310px) {

	.boxes-wrap {

		.col-1-boxes, .col-2-boxes {
			width: 100%;
		}

	}
}


@media only screen and (min-width : 510px) {
	
	.hero-content img {
		width: 32%;
	}

	.boxes-wrap {
		z-index: 10;

		.col-1-boxes, .col-2-boxes {
			width: 70%;
		}
	}
	.input-form {
		.input-wrap {
			width: 80%;
		}
	}
	
	.contact-info {

			.contact-wrap {
				width: 50%;
				margin: auto;
			.contact-1, .contact-2, .contact-3, .contact-4 , h2{
				margin: 20px auto;
			}

			.office-contact, .retail-contact {
				width: 100%;
				margin: auto;
			}
		}
	}
}
@media only screen and (min-width : 768px) {

	.hero-content img {
		width: 27%;
	}
	.boxes-wrap {

		.col-1-boxes, .col-2-boxes {
			width: 60%;
		}
	}

	.input-form {
		.input-wrap {
			width: 70%;
		}
	}

	.contact-info {

		.contact-wrap {
			width: 80%;
		.contact-1, .contact-2, .contact-3, .contact-4 , h2{
			margin: 20px auto;
		}

		.office-contact, .retail-contact {
			width: 40%; 
			margin: auto;
			padding: 30px;
			transition: .4s;
		}
	}
}

	.footer-wrap {
		margin: auto;
		img {
			width: 20%;
			max-width: 20%;
			// display: block;
		}
		nav {
			float: right;
			ul {
				margin-top: 5px;

				li {
					display: inline-block;
					font-size: 1.1em;
					margin: 4px;

					.divider-url1 {
						position: relative;
					}
		
					.divider-url1::after {
						content: "";
						position: absolute;
						height: 11px;
						width: 1px;
						background-color: #fff;
						top: 17%;
						left: 103.2%;
					}

					// .divider-url2 {
					// 	position: relative;
					// }
		
					// .divider-url2::after {
					// 	content: "";
					// 	position: absolute;
					// 	height: 11px;
					// 	width: 1px;
					// 	background-color: white;
					// 	top: 0%;
					// 	left: 0%;
					// }
				}
			}
		}
	}

	.social-icons {
		.fb-icon, .insta-icon, .twitter-icon {
			width: 2.3%;
		}
	}

}

@media only screen and (min-width : 960px) {

	.boxes-wrap {
		padding: 90px 10px;
		clear: both;
		margin: 100px auto;
		max-width: 1000px;
		.col-1-boxes {
			max-width: 50%;
			float: left;
		}

		.col-2-boxes {
			max-width: 50%;
		}
	}

	.contact-info {

		.contact-wrap {
			width: 60%;

		.office-contact, .retail-contact {
			width: 50%;
			font-size: 1.1em;
			margin-right: -120px;
		}
	}
}
	.location-map {
		clear: both;
	}
}
