


@import 'reset';

@font-face {
	font-family: "Founders-Regular";
	src: url("../fonts/FoundersGrotesk-Regular.eot") format("eot"),
		 url("../fonts/FoundersGrotesk-Regular.woff") format("woff"),
		 url("../fonts/FoundersGrotesk-Regular.woff2") format("woff2"),
}

@font-face {
	font-family: "Founders-Regular-Italic";
	src: url("../fonts/FoundersGrotesk-RegularItalic.eot") format("eot"),
		 url("../fonts/FoundersGrotesk-RegularItalic.woff") format("woff"),
		 url("../fonts/FoundersGrotesk-RegularItalic.woff2") format("woff2"),
}

@font-face {
	font-family: "TiemposTex-Regular";
	src: url("../fonts/TiemposText-Regular.eot") format("eot"),
		 url("../fonts/TiemposText-Regular.woff") format("woff"),
		 url("../fonts/TiemposText-Regular.woff2") format("woff2"),

}

@font-face {
	font-family: "TiemposTex-RegularItalic";
	src: url("../fonts/TiemposText-RegularItalic.eot") format("eot"),
		 url("../fonts/TiemposText-RegularItalic.woff") format("woff"),
		 url("../fonts/TiemposText-RegularItalic.woff2") format("woff2"),

}






* {
	box-sizing: border-box;
}

body {
	background: #eeebe0;
}

.content {

}

.hero-content {
	width: 100%;
	max-width: 1200px;
	margin: auto;

	img {
		display: block;
		width: 40%;
		margin: 50px auto;
	}

	p {
		width: 95%;
		margin: auto;
		text-align: center;
		padding: 60px 70px;
		color: #6C5E4B;
		line-height: 1.5;
		font-size: 1.2em;
		font-family: "TiemposTex-Regular";
	}
}


.carousel-indicators li {
	border-radius: 50%;
	height: 12px;
	width: 12px;
}

.boxes-wrap {
	width: 100%;
	background-image: url("../img/OAK-bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 90%;
	font-family: "Founders-Regular";
	margin-top: 50px;


	.col-1-boxes {
		width: 100%;
		margin: auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	
		.box-1-col-1, .box-2-col-1, .box-3-col-1, .box-4-col-1, .box-5-col-1, .box-6-col-1 {
			width: 115px;
			height: 110px;
			margin: 10px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			background: rgba(101, 88, 68, .8);

	
			p {
				// padding: 30px 15px 0px 15px;
				text-align: center;
				font-size: 1.1em;
				margin-top: 0px;
				color: white;
			}

			// .bottom-text {
			// 	padding-top: 5px;
			// }

			.three-text {
				font-size: 1.3em;
			}

			.twenty-text {
				font-size: 1.7em ;
			}

			.sf-text {
				font-size: .8em;
			}

			.padding-text {
				font-size: 1.3em;
			}
		}
	
	}
	
	.col-2-boxes {	
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		flex-grow: 1;
		margin: auto;
	
		.box-1-col-2, .box-2-col-2, .box-3-col-2, .box-4-col-2, .box-5-col-2, .box-6-col-2 {
			width: 115px;
			height: 110px;
			margin: 10px;
			background: rgba(101, 88, 68, .8);
			display: flex;
			flex-direction: column;
			justify-content: center;

			p {
				// padding: 20px 15px 0px 15px;
				text-align: center;
				font-size: 1.1em;
				color: white;
			}

			.twelve-text {
				font-size: 1.5em;
			}

			.eight-text {
				font-size: 1.5em;
			}

			// .bottom-text-bars {
			// 	width: 100%;
			// 	margin: 0px auto;
			// 	font-size: 1em;
			// 	padding-top: 5px;
			// }

			// .bottom-text-movies {
			// 	width: 100%;
			// 	margin: 0px auto;
			// 	padding: 10px;
			// 	font-size: 1em;
			// 	padding-top: 5px;
			// }

			// .chef-text {
			// 	margin: auto;
			// 	padding: 20px;
			// 	margin-top: 15px;
			// }


			.sf-text {
				font-size: .5em;
			}

			.padding-text {
				font-size: 1.3em;
			}

			// .spacing {
			// 	padding-top: 30px !important;
			// }

			// .community-text {
			// 	margin: auto;
			// 	padding: 15px 5px;
			// 	margin-top: 15px;
			// 	font-size: 1em;
			// }

			// .hotel-text {
			// 	margin: auto;
			// 	padding: 15px 5px;
			// 	margin-top: 15px;
			// }

			// .bottom-text-retail {
			// 	width: 100%;
			// 	margin: 0px auto;
			// 	padding: 10px;
			// 	font-size: 1em;
			// 	padding-top: 5px;
			// }
	
		}
	
	}


}

.location-map {
	width: 100%;

	.padding-location {
		margin-top: 10px;
		background: rgba(101, 88, 68, 1);

		
		h1 {
			text-align: center;
			color: #fff;
			font-size: 1.1em;
			padding: 20px;
			font-family: "TiemposTex-Regular";

		}
	}

	.map-wrapper {
		height: 450px;
		width: 100%;

	
		#map {
			height: 100%;
		}
	}
	
}



.input-form {
	width: 100%;
	margin-top: 40px;

	h2 {
		text-align: left;
		margin: 20px 0px;
		font-family: "TiemposTex-Regular";
	}

	.input-wrap {
		width: 50%;
		margin: 20px auto;
		max-width: 1200px;


		label {
		font-family: "Founders-Regular";
		text-align: left;
		display: block;
		padding: 2px 0px;
		}
		
		input {
			width: 100%;
			border: 1px solid rgba(101, 88, 68, 1);
			margin: 10px 0px;
		}

		.button-submit {
			margin-top: 40px;
			width: 100%;
			margin-right: auto;
			text-align: right;
			
			a {
				padding: 7px 30px;
				background: rgba(101, 88, 68, 1);
				color: white;
				cursor: pointer;
				font-family: "Founders-Regular";
			}
		}
	
	}
}

.social-icons {
	margin-top: 65px;
	width: 100%;
	text-align: center;
	padding: 10px;
	margin-bottom: 20px;

	.fb-icon, .insta-icon, .twitter-icon {
		display: inline-block;
		width: 5%;
		margin: 0px 5px;
	}

	h1 {
		margin-right: 5px;
		vertical-align: middle;
		display: inline-block;
		color: rgba(101, 88, 68, 1);
		font-family: "TiemposTex-Regular";
	}

	p {
		margin-left: 5px;
		display: inline-block;
		color: rgba(101, 88, 68, 1);
		font-family: "TiemposTex-Regular";

	}
}

.footer-wrap {
	background: rgba(101, 88, 68, 1);
	width: 100%;
	padding: 10px;
	display: flex;
	// justify-content:flex-end;

	img {
		width: 45%;
		padding: 15px;
		margin-right: auto;
	}

	nav {
		padding: 20px;
		font-size: .7em;
		font-family: "TiemposTex-Regular";

		ul {
			color: #fff;

		}

		a {
			color: white;
		}
	}
}

@media only screen and (min-width : 310px) {

	.boxes-wrap {
		background-size: 100%;

		.col-1-boxes, .col-2-boxes {
			width: 100%;
		}

	}



}




@media only screen and (min-width : 510px) {
	
	.hero-content img {
		width: 32%;
	}

	.boxes-wrap {
		background-size: 100%;

		.col-1-boxes, .col-2-boxes {
			width: 80%;
		}

	}



	.input-form {
		.input-wrap {
			width: 50%;
		}
	}	

}
@media only screen and (min-width : 768px) {

	.hero-content img {
		width: 27%;
	}
	.boxes-wrap {
		background-size: 60%;

		.col-1-boxes, .col-2-boxes {
			width: 60%;
		}
	}

	.input-form {
		.input-wrap {
			width: 35%;
		}
	}

	.footer-wrap {
		max-width: 1268px;
		margin: auto;
		img {
			width: 25%;
			max-width: 25%;
			display: block;
		}


		nav {

			ul {
				margin-top: 5px;

				li {
					display: inline-block;
					font-size: 1.1em;
					margin: 4px;

					.divider-url1 {
						position: relative;
					}
		
					.divider-url1::after {
						content: "";
						position: absolute;
						height: 11px;
						width: 1px;
						background-color: #fff;
						top: 17%;
						left: 103.2%;
					}

					// .divider-url2 {
					// 	position: relative;
					// }
		
					// .divider-url2::after {
					// 	content: "";
					// 	position: absolute;
					// 	height: 11px;
					// 	width: 1px;
					// 	background-color: white;
					// 	top: 0%;
					// 	left: 0%;
					// }
				}
			}
		}
	}

	.social-icons {
		.fb-icon, .insta-icon, .twitter-icon {
			width: 2.3%;
		}
	}

}

@media only screen and (min-width : 960px) {

	.boxes-wrap {
		background-size: 40%;
		padding: 90px 10px;
		clear: both;
		margin: 100px auto;
		max-width: 1000px;
		.col-1-boxes {
			max-width: 50%;
			float: left;
		}

		.col-2-boxes {
			max-width: 50%;
		}
	}

	.location-map {
		clear: both;
	}
}
